# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
_build/
dist/
eggs/
.eggs/
sdist/
wheels/
pip-wheel-metadata/
*.egg-info/
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

.cache
.pytest_cache/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# Frontend extension stuff
*.tsbuildinfo
lib/
node_modules/
.yarn/
jupyter_myst_build_proxy/labextension
